body {
  	color: #ffffff;
  	background-color: #000000;
}

header {
	font-size: 3.5rem;
	margin-bottom: 50px;
}

.text-center {
	text-align: center;
}

.city {
	font-size: 3em;
	text-transform: capitalize;
}

.city span.temp {
	font-size: 1em;
	text-transform: capitalize;
}

.temp {
	cursor: pointer;
	color: cornflowerblue;
}

.temp:hover {
	color: cadetblue;
}

.desc {
	font-size: 3em;
}

div.cloud.hide {
	display: none;
}

div.rainy.hide {
	display: none;
}

div.sunny.hide {
	display: none;
}

div.lightning.hide {
	display: none;
}

div.cloud {
	display: block;
}

div.rainy {
	display: block;
}

div.lightning {
	display: block;
}

div.sunny {
	display: block;
}
